﻿@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h4> Step 1 - Get Auth code</h4>
        <p>
        <a class="btn btn-default" href="https://login.microsoftonline.com/91700184-c314-4dc9-bb7e-a411df456a1e/oauth2/authorize?
client_id=f0b7142e-79dc-416c-b9af-2bf27d704985
&response_type=code
&redirect_uri=http%3A%2F%2Flocalhost%3A59821%2FHome%2FIndex
&response_mode=query
&resource=f0b7142e-79dc-416c-b9af-2bf27d704985
&state=12345">Login via AsureAD</a>
        <p id="loginStatus"></p>
    </div>
    
    <div class="col-md-4" id="step2">
        <h4> Step 2 - Get tokens</h4>
        <button id="getToken" class="btn btn-default">Get Access token</button>
        <p></p>
        <p id="tokenStatus"></p>
    </div>
    
    
    <div class="col-md-4" id="step3">
        <h4> Step 3 - Get Item using token</h4>
        <button id="getItem" class="btn btn-default">Get Item</button>
        <p></p>
        <p id="item"></p>
    </div>
    
    

    <div class="col-md-4" id="step3">
        <h4> Step 4 - Refresh token</h4>
        <button id="refreshToken" class="btn btn-default">Refresh token</button>
        <p></p>
        <p id="tokenStatus2"></p>
    </div>

    
</div>

@section scripts{
    <script type="text/javascript">

        var authEndpoint = "https://login.microsoftonline.com/91700184-c314-4dc9-bb7e-a411df456a1e/oauth2/authorize";
        var tokenEndpoint = "https://login.microsoftonline.com/91700184-c314-4dc9-bb7e-a411df456a1e/oauth2/token";
        var client_id = 'f0b7142e-79dc-416c-b9af-2bf27d704985';
        var client_secret = '2VXDbwMoij9uKbOKZAMPAa/u9fcyI+wNtr4m42XVRB0=';

        var authResponse = {};
        var token = {};

        function getUrlVars() {
            var vars = [], hash;
            var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < hashes.length; i++) {
                hash = hashes[i].split('=');
                vars.push(hash[0]);
                vars[hash[0]] = hash[1];
            }
            return vars;
        }

        var authCode = getUrlVars()['code'];

        if (authCode != undefined) {
            $('#step2').prop('disabled', false);
        }


        $('#getToken').click(function(evt) {

            $.ajax({
                url: tokenEndpoint,
                type: 'post',
                crossDomain: true,
                data: {
                    client_id: client_id,
                    client_secret: client_secret,
                    code: authCode,
                    grant_type: 'authorization_code',
                    redirect_uri: 'http://localhost:59821/Home/Index',
                    resource: 'f0b7142e-79dc-416c-b9af-2bf27d704985'
                },
                success: function(response) {
                    $('#tokenStatus').text("got token." + response);

                    token = response;
                }
            });
        });


        $('#getItem').click(function(evt) {

            $.ajax({
                url: "http://scc.local/sitecore/api/ssc/aggregate/content/Items('110d559f-dea5-42ea-9c1c-8a5df7e70ef9')",
                headers: {
                    sc_apikey: '{12D0D122-7BA7-4DE5-81FD-4C2D649C3A9E}',
                    Authorization: 'Bearer ' + token.access_token
                },
                success: function(response) {
                    $('#item').text(JSON.stringify(response));
                }

            });
        });

        $('#refreshToken').click(function(evt) {

            $.ajax({
                url: tokenEndpoint,
                type: 'post',
                data: {
                    refresh_token: token.refresh_token,
                    grant_type: 'refresh_token',
                    client_id: client_id,
                    client_secret: client_secret
                },
                success: function(response) {
                    $('#tokenStatus2').text(JSON.stringify(response));
                }

            });
        });


    </script>
}